<h1>All Contacts</h1>

<ul>
<% @@rolodex.show_all_contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %>
  <%= contact.email %><%= contact.note %><%= contact.id %></li>
<% end %>
</ul>